@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    
}

.navbar-links {
    display: flex;
    gap: 20px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.download {
    text-align: center;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    section {
        flex-direction: column;
        
    }

    section img {
    display: none;
}
    
    button {
        width: 100%;
        margin-top: 10px;
    }
}
